body {
    background-color: #1a283a;
    overflow-x: hidden;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    display: grid;
    align-items: center;
    justify-content: center;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    padding: 0;
    margin: 0;
    position: relative;
    
}

header {
    height: 50px;
    margin: 0 auto;
}

#deleted-mohre {
    width : 424px;
    height : 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:18px;
    
}

#deleted-white {
    height : 50px;
    width : 170px;
    background-color: #000000;
    margin-right: 12px;
    color: #ffffff;
    text-align: center;
}

#deleted-black {
    height : 50px;
    width : 170px;
    background-color: #ffffff;
    margin-left: 12px;
    text-align: center;
}

.active {
    /* box-shadow: 0 0 5px 6px rgb(73, 184, 147); */
    outline: 3px solid rgb(16, 175, 16);
    /* background-image: radial-gradient(red, yellow, green); */
    background-color: aquamarine;
    cursor: pointer;
}

.chess-head {
    margin : 1px auto 5px auto;
}

#turn {
    font-size: large;
    color: white;
    font-family: "Helvetica Neue", "Helvetica";
}

#second-counter {
    font-size: 18px;
    color: green;
    font-family: "Helvetica Neue", "Helvetica";
}

#s1{
    transition: left 0.5s ease-in-out;
}



.hit {
    outline: 3px solid red;
    cursor: pointer;
}

.cascade {
    cursor: pointer;
    outline: 3px solid goldenrod;
}


.chess-board { 
    width: 424px;
    height: 424px;
    border-spacing: 0; 
    border-collapse: collapse;
  
}
td {
    z-index: 1;
}
.chess-board th { padding: .5em; }
.chess-board th + th { border-bottom: 1px solid #000; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 1px solid rgb(0, 0, 0); }
.chess-board tr:last-child td { border-bottom: 1px solid; }
.chess-board th:empty { border: none; }
.chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;
}
.chess-board .light { background: #718091; }
.chess-board .dark { background: #a4aebb; }
.light-mohre {
    color: #FFFFFF;
    text-shadow: 0 0 3px #411111, 0 0 5px #25217b;
}
.dark-mohre {
    text-shadow: 0 0 3px #d7ebcf, 0 0 5px #bbede2;
}

.button-container {
    display: flex;
    margin: 10px;
    align-items: center;
    /* justify-content: center; */
    /* width: 424px; */
}

button {
    cursor: pointer;
    width : 60px;
    height : 30px;
    background-color: aquamarine;
    font-size: larger;
    border: none;
    margin : 15px auto;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(73, 184, 147);
    color: white;
}

/* #start {
    background-color: aquamarine;
    font-size: larger;
    border: none;
    border-radius: 5px;
    margin : 10px auto;
    cursor: pointer;
    width : 60px;
    height : 30px;
} */

/* #start:hover {
    background-color: rgb(73, 184, 147);
    color: white;
} */

#undo {
    display: none;
}
#redo {
    display: none;
}

.soldier-end {
    position: absolute;
    z-index: 1;
    padding: 25px;
    border-radius: 5px;
    top: 9%;
    text-align: center;
    background-color: rgb(43, 83, 104);
    left: 33%;
}

.selected-option {
    background-color: greenyellow;
    border-radius: 5px;
    margin: 35px;
    padding: 5px;
    font-size: x-large;
}

.selected-option:hover {
    background-color: green;
    transform: scale(1.06);
    cursor: pointer;
}