body {
    background-color: #1a283a;
    overflow-x: hidden;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    display: grid;
    align-items: center;
    /* overflow: hidden; */
    justify-content: center;
}

video {
    /* object-fit: cover; */
    top: -45%;
    left: 5%;
    border-radius: 5px;
    /* z-index: 1; */
    /* margin-left: 50px; */
    width: 600px;
    height: 350px;
    transform: skew(0);
    position: absolute;
}

.flex-container {
    display: flex;
    margin-top: 20px;
    /* width: 100%; */
    /* position: relative; */
    /* left: 19%; */
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.middle {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

p{
    padding: 0;
    margin: 0;
    position: relative;
    
}

header {
    height: 50px;
    margin: 0 auto;
}

#deleted-mohre {
    width : 424px;
    height : 50px;
    margin-bottom: 20px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size:18px;
    
}

#deleted-white {
    height : 420px;
    width : 60px;
    border-radius: 5px;
    word-wrap: break-word;
    font-size: xx-large;
    background-color: #a7bad0;
    margin-right: 12px;
    color: #000000;
    text-align: center;
}

#deleted-black {
    /* margin-bottom: 20px; */
    height : 420px;
    color: #ffffff;
    border-radius: 5px;
    font-size: xx-large;
    word-wrap: break-word;
    width : 60px;
    background-color: #131518;
    margin-left: 12px;
    text-align: center;
}

.active {
    /* width: auto; */
    /* box-shadow: 0 0 5px 6px rgb(73, 184, 147); */
    outline: 3px solid rgb(16, 175, 16);
    z-index: 10;
    /* background-image: radial-gradient(red, yellow, green); */
    /* background-color: aquamarine; */
    cursor: pointer;
}

.chess-head {
    margin : 1px auto 5px auto;
}

#turn {
    width: min-content;
    font-size: x-large;
    color: white;
    font-family: "Helvetica Neue", "Helvetica";
}

#second-counter {
    width: min-content;
    margin-left: 7px;
    font-size: 22px;
    color: green;
    font-family: "Helvetica Neue", "Helvetica";
}

#s1{
    transition: left 0.5s ease-in-out;
}



.hit {
    outline: 3px solid red;
    cursor: pointer;
}

.cascade {
    cursor: pointer;
    outline: 3px solid goldenrod;
}

#finish {
    text-align: center;
    display: grid;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    /* grid-template-areas:
    "w u i"
    "e d f"; */
    /* "a b c"; */
    position: absolute;
    left: 25%;
    width: 600px;
    height: 200px;
    /* margin-left: 100px; */
    /* background-color: #21637b; */
    display: none;
}

.tt {
    /* grid-area: u; */
    align-self: center;
    margin-left: 50px;
    font-size: 30px;
}

section{
    /* transform: skew(-0.06turn, 1deg); */
    z-index: 500;
    /* opacity: 0; */
}

section::before{
    /* content:"";
  width: 100%;
  height: 750px;
  position: absolute;
  top: -200px;
  left: 10px;
  transform: rotate(55deg);
  background: rgba(206,188,155,.7);
  background: -moz-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206,188,155,.7)), color-stop(65%, rgba(42,31,25,0)));
  background: -webkit-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: -o-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: -ms-linear-gradient(left, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  background: linear-gradient(to right, rgba(206,188,155,.7) 0%, rgba(42,31,25,0) 65%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=0.7 ); */

content: '';
position: absolute;
top: 0;
left: 5%;
width: 100%;
height: 100%;
background: linear-gradient(to right, #f00, #f00, rgb(251, 255, 0), rgb(30, 255, 0), #ff0, rgb(0, 187, 255), rgb(0, 51, 255), rgb(34, 0, 255));
mix-blend-mode: color;
pointer-events: none;

}

.note {
    z-index: 600;
    text-shadow: 
    -1px -1px 1px #efede3, 
    0px 1px 0 #575519, 
    0px 2px 0 #5e5c1a, 
    0px 3px 0 #68651b, 
    0px 4px 0 #6d6a1c, 
    0px 5px 0 #726f1c,
    0px 6px 0 #74711b, 
    0px 7px 0 #807d1f;
    /* 0px 8px 0 #202020, 
    0px 9px 0 #1e1e1e, 
    0px 10px 0 #1c1c1c, 
    0px 11px 0 #1a1a1a, 
    0px 12px 0 #181818, 
    0px 13px 0 #161616, 
    0px 14px 0 #141414, 
    0px 15px 0 #121212,
    2px 20px 5px rgba(0, 0, 0, 0.9),
    5px 23px 5px rgba(0, 0, 0, 0.3),
    8px 27px 8px rgba(0, 0, 0, 0.5),
    8px 28px 35px rgba(0, 0, 0, 0.9); */

    color: #dfc500;
    letter-spacing: .15em;
    transform: translateY(20px);
    /* width: 100%; */
  /* margin: 0 auto 0 auto; */
  font-family: 'Lato', sans-serif;
  /* line-height: 280px; */
  /* font-size: 11.5rem; */
  /* padding: 80px 50px; */
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  transform: skew(-0.06turn, 18deg);
  opacity: 0;
  animation: animate 1.5s linear forwards;
  display: inline-block;

}

#the-winner {
    grid-area: w;
}
#first {
    margin-right: 5px;
    font-size: 30px;
    animation-delay: 2.5s;
}
@keyframes animate {
    0%
    {
        opacity: .5;
        transform: rotateY(90deg);
        transform: rotateX(90deg);
        filter: blur(2px);
    }
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        transform: rotateX(0deg);
        filter: blur(0px);
    }
} 

#second{
    font-size: 30px;
    animation-delay: 3.5s;
}

#third{
    margin-left: 5px;
    font-size: 30px;
    animation-delay: 4.5s;
}

#finished-button{
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(158, 137, 13);
    color: #000;
    /* grid-area: d; */
    margin-right: 20px;
    position: absolute;
    font-size: 18px;
    margin-left: 250px;
    height: 40px;
    width: min-content;
    bottom: 0;
    display: block;
    align-self: end;
    z-index: 1000;
    margin-bottom: 0;

}

#finished-button:hover{
    background-color: rgb(220, 191, 29);
    transform: scale(1.01);
    /* border: 1px solid gold; */
}

.chess-board { 
    width: 424px;
    height: 424px;
    border-spacing: 0; 
    border-collapse: collapse;
  
}
td {
    z-index: 1;
}
.chess-board th { padding: .5em; }
.chess-board th + th { border-bottom: 1px solid #000; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 1px solid rgb(0, 0, 0); }
.chess-board tr:last-child td { border-bottom: 1px solid; }
.chess-board th:empty { border: none; }
.chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;
}
.chess-board .light { background: #718091; }
.chess-board .dark { background: #a4aebb; }
.light-mohre {
    color: #FFFFFF;
    text-shadow: 0 0 3px #411111, 0 0 5px #25217b;
}
.dark-mohre {
    text-shadow: 0 0 3px #d7ebcf, 0 0 5px #bbede2;
}

.button-container {
    display: flex;
    margin: 10px;
    align-items: center;
    /* width: min-content; */
    /* justify-content: center; */
    /* width: 424px; */
}

button {
    cursor: pointer;
    width : 60px;
    height : 30px;
    background-color: aquamarine;
    font-size: larger;
    border: none;
    margin : 15px auto;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(73, 184, 147);
    color: white;
}

/* #start {
    background-color: aquamarine;
    font-size: larger;
    border: none;
    border-radius: 5px;
    margin : 10px auto;
    cursor: pointer;
    width : 60px;
    height : 30px;
} */

/* #start:hover {
    background-color: rgb(73, 184, 147);
    color: white;
} */

#undo {
    display: none;
}
#redo {
    display: none;
}

.soldier-end {
    position: absolute;
    z-index: 1;
    padding: 25px;
    border-radius: 5px;
    top: 9%;
    text-align: center;
    background-color: rgb(43, 83, 104);
    left: 33%;
}

.selected-option {
    background-color: greenyellow;
    border-radius: 5px;
    margin: 35px;
    padding: 5px;
    font-size: x-large;
}

.selected-option:hover {
    background-color: green;
    transform: scale(1.06);
    cursor: pointer;
}

.history-container {
    position: absolute;
    display: grid;
    right: 0;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
}

.history-section {
    height: 200px;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 30px;
    background-color: #25217b;
}

.history-section p {
    color: white;
    margin: 5px;
    margin-left: 0px;
    cursor: pointer;
    /* width: min-content; */
    padding: 5px;
    font-size: 17px;
}

.history-section p:hover{
    transform: scale(1.05);
    color: #80d8c5;
}

h2 {
    display: grid;
    color: rgb(42, 165, 46);
    font-size: 20px;
    margin-bottom: 255px;
    right: 165px;
    position: absolute;
    /* margin-left: 100px; */
}

#file-loader {
    position: absolute;
    left: 0;
    top: 0;
    /* background-color: aquamarine; */
    color: rgb(238, 238, 238);
}
#download-history{
    position: absolute;
    display: block;
    width: 200px;
    left: 0;
    top: 40px;
    background-color: #173f7c;
    border-radius: 3px;
    color: orange;
    font-size: 14px;
}

#download-history:hover{
    background-color: #19789b;
}